#chatBotRoot {
  display: flex;
}

.chatBotButton {
  position: fixed;
  right: 10%;
  bottom: 8%;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.close {
  align-self: flex-end;
  margin-right: 10px;
  position: relative;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
